---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Timestamp from "../components/Timestamp.astro";
import { getCollection, getEntryBySlug } from "astro:content";
import { getSlug } from "../util/getSlug";
import { getPlainTextSummary } from "../util/getSummary";
import { getImage } from "astro:assets";

export interface Props {
  data: {
    title: string;
    description?: string;
    date?: string;
    image?: string;
  };
}

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  const paths = posts
    .map((post) => {
      const slug = getSlug(post);
      return slug
        ? {
            params: { post: slug },
            props: post,
          }
        : null;
    })
    .filter((p) => p);

  return paths;
}

// We're using the internal auto generated slug to make this lookup cleaner/faster
const entry = await getEntryBySlug("blog", Astro.props.slug);
if (!entry) {
  throw new Error(`Unable to find a post with the path ${Astro.props.slug}`);
}

const slug = Astro.params.post;
const { title, date, image } = Astro.props.data;
const description = getPlainTextSummary(entry);
const { Content } = await entry.render();
const ogImage = image ? await getImage({src: image}) : null;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <meta property="og:type" content="article" />
    <meta property="og:title" content={title} />
    {description && <meta property="og:description" content={description} />}
    {ogImage && <meta property="og:image" content={ogImage.src} />}
    <meta name="fediverse:creator" content="@esimmler@fosstodon.org" />
    <link rel="canonical" href={`/${slug}`} />
    <style>
      .title {
        font-size: 1.5em;
        margin: 0.25em 0;
        padding-top: 0;
        color: #ea7950;
        line-height: 1em;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1em 0;
      }
      article :global(h1, h2, h3, h4, h5) {
        margin: 0.8em 0 0.5em;
        padding-top: 0.7em;
        color: #63ba29;
      }

      article :global(:target a) {
        position: relative;
      }
      article :global(:target a::before) {
        content: "☞";
        position: absolute;
        right: calc(100% + 0.25em);
        top: -0.15em;
      }
      article :global(h1) {
        font-size: 1.5em;
      }
      article :global(h2) {
        font-size: 1.25em;
        color: #ea7950;
      }
      article :global(h3, h4, h5) {
        font-size: 1em;
        color: #885846;
      }
      article :global(p, ul, ol) {
        margin: 0.75em 0 1em;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        <Timestamp ts={date} />
        <h1 class="title">{title}</h1>
        <Content />
      </article>
    </main>
    <Footer />
  </body>
</html>
