---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { byDate } from "../util/byDate";
import { getCollection } from "astro:content";
import PostList from "../components/PostList.astro";
import PageH2 from "../components/PageH2.astro";
import { getTags } from "../util/getTags";

const posts = (await getCollection("blog")).sort(byDate);
const tags = await getTags();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link rel="canonical" href={`/archive`} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <PageH2>Archives</PageH2>
        {tags.map((tag) => <a href={`/archive/${tag}`}>{tag}</a>)}
        <PostList posts={posts} />
      </section>
      <Footer />
    </main>
  </body>
</html>
