---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Timestamp from "../components/Timestamp.astro";
import { ghostClient } from '../lib/ghost';

const posts = await ghostClient.posts
    .browse({
        limit: 7,
    });

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link rel="canonical" href="https://esimmler.com/" />
    <style>
      h2 {
        font-size: 1.5em;
        color: #ea7950;
        margin: 0.25em 0;
        line-height: 1em;
      }
      h2 a {
        text-decoration: underline;
      }
      article {
        margin-bottom: 1.5em;
      }
      article p {
        margin: 0.75em 0 1em;
      }
      aside {
        margin: 2em 0 1em;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        {
          await posts?.map(async (post) => {
            const link = `/${post.slug}`;
            const summary = post.custom_excerpt || post.excerpt;

            return (
              <>
                <article>
                  <header>
                    <Timestamp ts={post.published_at} />
                    <h2>
                      <a href={link}>{post.title}</a>
                    </h2>
                  </header>
                  {summary && <p>
                    {summary}
                  </p>}
                </article>
              </>
            );
          })
        }
      </section>

      <aside><a href="./archive">Find more articles in the Archive</a></aside>

      <Footer />
    </main>
  </body>
</html>
