---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { getLink } from "../util/getSlug";
import Timestamp from "../components/Timestamp.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import type { AstroComponentFactory } from "astro/dist/runtime/server";
import { byDate } from "../util/byDate";
import { getSummary } from "../util/getSummary";
import { markdown } from "@astropub/md";

const posts = (await getCollection("blog")).sort(byDate).slice(0, 3);

async function getContent(
  post: CollectionEntry<"blog">
): Promise<
  | { summary: String; Content: null }
  | { summary: null; Content: AstroComponentFactory }
> {
  const summary = getSummary(post);
  if (summary) {
    return { summary: await markdown(summary), Content: null };
  } else {
    const { Content } = await post.render();
    return { summary: null, Content };
  }
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      h2 {
        font-size: 1.5em;
        color: #ea7950;
        margin: 0.25em 0;
        line-height: 1em;
      }
      h2 a {
        text-decoration: underline;
      }
      .content :global(p) {
        margin: 0.75em 0 1em;
      }
      aside {
        margin: 1em 0;
        text-align: center;
      }
      .read-more {
        font-weight: 600;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        {
          await posts.map(async (post) => {
            const link = getLink(post);
            const { summary, Content } = await getContent(post);

            return (
              <>
                <article>
                  <header>
                    <Timestamp ts={post.data.date} />
                    <h2>
                      <a href={link}>{post.data.title}</a>
                    </h2>
                  </header>
                  <div class="content">
                    {summary || (Content && <Content />)}
                  </div>
                  {summary && (
                    <a href={link} class="read-more">
                      Read More
                    </a>
                  )}
                </article>
                <hr />
              </>
            );
          })
        }
      </section>

      <aside><a href="./archive">Find more articles in the Archive</a></aside>

      <Footer />
    </main>
  </body>
</html>
