---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { getCollection } from "astro:content";
import PostList from "../../components/PostList.astro";
import { byDate } from "../../util/byDate";
import PageH2 from "../../components/PageH2.astro";
import { allTags, tagFromSlug, postsByTag } from "../../lib/ghost";

export interface Props {
  data: {
    title: string;
    description?: string;
    date?: string;
  };
}

export async function getStaticPaths() {
  return (await allTags()).map((tag) => ({ params: { tag: tag.slug } }));
}

const tag = await tagFromSlug(Astro.params.tag);
const title = `Tagged with ${tag.name}`;
const posts = (await postsByTag(tag.slug))
---

<html lang="en">
  <head>
    <BaseHead title={title} />
    <link rel="canonical" href={`https://esimmler.com/archive/${tag}`} />
  </head>

  <body>
    <Header />
    <main>
      <article>
        <PageH2>{title}</PageH2>
        <PostList posts={posts} />
      </article>
    </main>
    <Footer />
  </body>
</html>
